html{
    font-family: Arial;
    margin:0;
    height:100vh;
}
body{
    margin:0;
    height:calc(100% - 50px);
}

table{
    text-align: center;
    border: none;
    border-collapse: collapse;
}

*, *:before, *:after{
    box-sizing:border-box;
}

#grid{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-basis:auto;
}

#parameters{
    flex-basis:250px;
    background-color:#f1f1f1;
    padding:16px;
    flex-shrink:0;
}

td{
    border: 2px groove grey;
}

#parameters, #rows, #cols, #grille{
    display:block;
    text-align: center;
    font-size: 25px;
}

#filename,#lvl{
  font-size: 18px;
}

#title{
    height:50px;
    line-height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    font-weight: bold;
    font-size: 24px;
    text-align:center;
    background-color:#dadada;
}

.content{
    margin-top:50px;
    display:flex;
    height:100%;
}


#list{
    display:inline-block;
    float: left;
    font-size: 14px;
    height: 29px;
    width: 100%;
}

#checkBox{
    font-size: 24px;
    width:20px;
    height:20px;
}

.bloc {
    background-color: grey;
}

.porte {
    background-color: brown;
}

.pomme {
    background: url('./images/pomme.png') no-repeat center;
    background-size: cover;
}

.cerise {
    background: url('./images/cerise.jpg') no-repeat center;
    background-size: cover;
}

.pasteque {
    background: url('./images/pasteque.jpg') no-repeat center;
    background-size: cover;
}

.pac-gomme {
    background: url('./images/pac-gomme.png') no-repeat center;
    background-size: cover;
}

.spac-gomme {
    background: url('./images/spac-gomme.png') no-repeat center;
    background-size: cover;
}

.pacman {
    background: url('./images/pacman.png') no-repeat center;
    background-size: cover;
}

.fantomeRose{
    background: url('./images/fantomeRose.png') no-repeat center;
    background-size: cover;
}

.fantomeBleu{
    background: url('./images/fantomeBleu.png') no-repeat center;
    background-size: cover;
}

.fantomeRouge{
    background: url('./images/fantomeRouge.png') no-repeat center;
    background-size: cover;
}

.fantomeOrange{
    background: url('./images/fantomeOrange.png') no-repeat center;
    background-size: cover;
}
